:root {
  --doc-red: #BC1E4A;
  --doc-gray: #22262c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

body {
  background-color: #16181A;
}

header {
  background-color: var(--doc-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

header * {
  text-align: center;
}

header > h1 {
  font-size: 1rem;
  margin-top: 3vh;
  font-weight: 400;
  line-height: 21px;
}

h1 > span {
  margin: 2vh 0 3vh;
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 4vh;
}

h2 + p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

h3 {
  font-size: 25px;
  font-weight: 600;
}

h3 + p {
  font-size: 3.5r-of-type:not(.dropdown + p)em;
  font-weight: 700;
}

ul + button {
  font-size: 18px;
  font-weight: 600;
}

.dropdown > button,#myDropdown > a {
  font-size: 20px;
}

.unite {
  font-size: 22px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

article {
  border-radius: 10px;
  width: 90vw;
  height: 608px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article:last-child {
  margin-bottom: 20vh;
}

article, button {
  background-color: var(--doc-gray);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--doc-red);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

ul {
  list-style-position: inside;
}

li::marker {
  color: var(--doc-red);
}

button {
  border: 1px solid var(--doc-red)
}

button:hover, button:focus {
  background-color: var(--doc-red);
}

.dropdown + p {
  color: var(--doc-red);
  font-size: 14px;
}

article:last-child p {
  font-size: 2.25rem;
}