:root {
  --doc-red: #BC1E4A;
  --doc-gray: #22262c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
}

body {
  background-color: #16181A;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 418px;
}

header * {
  text-align: center;
}

header > h1 {
  background-color: var(--doc-red);
  border-radius: 0 0 10px 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
  max-width: 418px;
  min-width: 414px;
  padding-top: 3vh;
}

h1 > span {
  margin: 2vh 0 3vh;
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 30px;
}

h2 + p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 37px 0 13px;
}

h3 + p {
  font-size: 3.5rem;
  font-weight: 700;
}

button:last-child {
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  height: 54px;
  width: 243px;
  margin-top: 48px;
  border: 1px solid var(--doc-red);
}

.unite {
  font-size: 22px;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

article {
  border-radius: 10px;
  width: 375px;
  height: 608px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  line-height: 41px;
  list-style-position: inside;
}

article:first-of-type ul {
  margin-top: 66px;
  line-height: 41px;
}

article:last-child {
  margin-bottom: 20vh;
}

article:last-child p {
  font-size: 2.25rem;
  margin-top: 22px;
}

article:last-child ul {
  margin-top: 111px;
}

article, button {
  background-color: var(--doc-gray);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--doc-red);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

li::marker {
  color: var(--doc-red);
}

button:hover {
  background-color: var(--doc-red);
  cursor: pointer;
}

button:active {
  background-color: var(--doc-gray);
}

select {
  appearance: none;
  border: 0;
  box-shadow: none;
  flex: 1;
  color: #fff;
  cursor: pointer;
  background-color: var(--doc-gray);
  font-size: 1.25rem;
  padding-left: 47.5px;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 20em;
  border-radius: .25em;
  overflow: hidden;
  background-color: var(--doc-gray);
}
.select::after {
  content: url("data:image/svg+xml,%3Csvg width='23px' height='23px' viewBox='0 0 1024 1024' class='icon' version='1.1' xmlns='http://www.w3.org/2000/svg' fill='%235C6268' stroke='%235C6268' stroke-width='61.44'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M903.232 256l56.768 50.432L512 768 64 306.432 120.768 256 512 659.072z' fill='%235C6268'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  top: 34%;
  right: 15%;
  background-color: var(--doc-gray);
  transition: .25s all ease;
  pointer-events: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: absolute;
  border: 1px solid #5C6268;
  border-radius: 3px;
  width: 297px;
  height: 68px;
  margin-top: 20px;
}

.container + p {
  color: var(--doc-red);
  font-size: 14px;
  margin-top: 8px;
  margin-left: -115px;
}

article:nth-of-type(2) ul {
  margin-top: 31px;
}

@media screen and (min-width375: 1300px) {
  h2 {
    margin-top: 139px;
  }
}